PORT=

CLICKUP_API_TOKEN=
CLICKUP_USER_ID=
CLICKUP_TEAM_ID=

ZALO_BOT_TOKEN=
# Nhiều chat: ngăn cách bằng dấu phẩy, ví dụ id1,id2,id3
ZALO_CHAT_ID=

CLICKUP_WEBHOOK_SECRET=

ZALO_WEBHOOK_SECRET=
APPS_SCRIPT_URL=https://script.google.com/macros/s/XXXX/exec
APPS_SCRIPT_SECRET=
